
.Home{
    background-color: black;
}
.tittle{
    background-color: black;
color: white;
font-size: 45px;
}
.trending{
    background-color: black;
}
.action{
    background-color: black;
}
.comedy{
    background-color: black;
}